<h1> Student Page</h1>

<table class="table">
	<thead>Student Details
		<tr>
			<th>Student Name</th>
			<th>Student Age</th>
			<th>Student Contact</th>
			<th>Join Date</th>
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td>Rajan Tamang</td>
			<td>29</td>
			<td>9843121309</td>
			<td>March 21, 2021</td>
		</tr>
		<tr>
			<td>Sagar Khatri</td>
			<td>22</td>
			<td>9843121309</td>
			<td>March 21, 2021</td>
		</tr>
		<tr>
			<td>Aryan Maharjan</td>
			<td>23</td>
			<td>9843121309</td>
			<td>March 21, 2021</td>
		</tr>
	</tbody>
</table>